.header{
  min-height:100px;
  max-height:100px;
  min-width:100%;
  background-color: plum;
}

.footer{
  min-height:150px;
  max-height:150px;
  min-width:100%;
  background-color: powderblue;
}

.content{
  max-width:100%;
  min-height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field{
  min-height:100%;
  border-collapse: collapse;

}

.cell{
  height:20px;
  width:20px;
  border: solid 1px black;


  background-color:lightgoldenrodyellow
}

.cell-player{
  background-color:lawngreen;
}
.cell-enemy{
  background-color:red;
}
.cell-key{
  background-color:gold;
}
.cell-exit{
  background-color:cyan;
}
.cell-fog{
  background-color:gray;
}