<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block base_block %}
    <div class="header">
        {% block nav_bar %}

        {% endblock %}
    </div>

    <div class="content">
    {% block content %}

    {% endblock %}
    </div>

    <div class="footer">
    {% block tools %}

    {% endblock %}
    </div>

{% endblock %}
</body>

{% block scripts %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

</html>