{% extends 'base.html' %}

{% block nav_bar %}
<a class="button-18" href="{{ url_for('clear') }}" >Home</a>
{% endblock %}

{% block content %}
<table class="field">
{% for row in range(game.field|length) %}
    <tr>
    {% for col in range(game.field[0]|length) %}
        {% set cell = game.field[row][col].__repr__()%}
        {% set dist = game.calculate_dist(row, col, player.row, player.col)%}
        {% if dist <= player.view_range%}
            {% if cell == 'P'%}
                <td class="cell cell-player">
                </td>
            {% elif cell == 'E' %}
                <td class="cell cell-enemy">
                </td>
            {% elif cell == 'X' %}
                <td class="cell cell-exit">
                </td>
            {% elif cell == 'K' %}
                <td class="cell cell-key">
                </td>
            {% else %}
                <td class="cell">
                </td>
            {% endif %}
        {% else %}
            <td class="cell cell-fog">
            </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block tools %}
<form class="form-direction" action="" method="post">
{{ form.csrf_token() }}
<div class="label-block">
{% for subfield in form.direction %}
        <div class='label-direction'>
        {{ subfield }} {{ subfield.label }}
        </div>
{% endfor %}

{% for error in form.direction.errors %}
    {{error}}
{% endfor %}
</div>

{{form.submit(class_='direction-submit')}}
</form>
{% endblock %}